body {
  background: url("./assets/weather-image.jpg");
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
  margin-bottom: 20px;
  text-align: center;
}

.weather-button-box .btn {
  margin-right: 10px;
}

.weather-button-box .btn:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .weather-button-box {
    display: flex;
    width: auto;
  }
}
